@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation bar */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 20px 140px 0 141px;
}

.school-logo {
    display: flex;
    gap: 18px;
    align-items: center;
    align-content: center;
}

.logo-title {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(17, 17, 17)
}

.all-info a {
    text-decoration: none;
    display: inline-block;
    margin-right: 32px;
}

.home {
    color: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700;
}

.about {
    color: rgb(1, 172, 253);
    font-size: 1.25rem;
    font-weight: 500;
}

.facilities {
    color: rgb(5, 212, 223);
    font-size: 1.25rem;
    font-weight: 500;
}

.admission {
    color: rgb(93, 88, 239);
    font-size: 1.25rem;
    font-weight: 500;
}

.menu {
    display: none;
}

.btn-contact {
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    width: 197px;
    height: 50px;
    cursor: pointer;
}

marquee {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-left: 20%;
    color: rgb(254, 163, 1);
    Font-weight: 500;
    Font-size: 1.1rem;
}

@media screen and (max-width:576px) {

    .anchor,
    .logo-title,
    .btn-contact {
        display: none;
    }

    .menu {
        display: flex;
    }

    .nav-container {
        justify-content: space-between;
        margin: 0;
        padding: 12px 16px 12px 16px;
        border: 0.5px solid rgb(254, 163, 1);
    }

    marquee {
        width: calc(100% - 32px);
        margin: 0px 16px 0 16px;
    }
}